<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Add school group</title>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h2>Add school group</h2>

<form action="#" th:action="@{/templates/schoolGroup}" th:object="${schoolGroup}" method="post">

  <div>
    <label>Group name</label>
    <input type="text" th:field="*{name}">
  </div>
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

  <div><input type="submit" value="Submit"></div>

</form>

<div th:if="${errorMessage}">
  <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
