<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>All school groups</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h2>School Groups</h2>

<div>
  <a th:href="@{/schoolGroup/add}">New Group</a>
</div>
<div class="flex-list-container">
  <div th:each="group : ${schoolGroups}" class="flex-list-item">
    <div th:text="${group.name}"></div>
    <div>
      <button>
        <a th:href="@{/schoolGroup/{id}(id=${group.getId()})}">EDIT</a>
      </button>
      <button>
        <a th:href="@{/schoolGroup/delete/{id}(id=${group.getId()})}">Delete</a>
      </button>
    </div>
  </div>
</div>

<div th:if="${successMessage}">
  <br/>
  <div th:text="${successMessage}"></div>
</div>

<div th:if="${errorMessage}">
  <br/>
  <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
