<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Lesson</title>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h2>Edit Lesson</h2>

<form action="#" th:action="@{/lesson/{id}(id=${lesson.getId()})}" th:object="${lesson}" method="post">

    <div><input type="time" th:field="*{startTime}"></div>
    <div><input type="time" th:field="*{endTime}"></div>
    <div>
        <select name="teacher" id="teacher">
            <option th:each="teacher : ${teachers}"
                    th:value="${teacher.getId()}"
                    th:text="${teacher.getLastName()} + ' ' + ${teacher.getSpeciality()}"
                    th:selected="(*{teacher} != null and ${teacher.getId()} == *{teacher.getId()})"
            >
            </option>
        </select>
    </div>
    <div><input type="submit" value="Submit"></div>

</form>

<div th:if="${errorMessage}">
    <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
