<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Add Lesson</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h2>Add Lesson</h2>

<form action="#" th:action="@{/lesson}" th:object="${lesson}" method="post">
  <div>
    <label>Start time</label>
    <input type="time" th:field="*{startTime}">
  </div>
  <div>
    <label>End time</label>
    <input type="time" th:field="*{endTime}">
  </div>
  <div>
    <label>Teacher</label>
    <select th:field="*{teacher}">
      <option th:each="teacher : ${teachers}"
              th:value="${teacher.getId()}"
              th:text="${teacher.getLastName()} + ' ' + ${teacher.getSpeciality()}">
      </option>
    </select>
  </div>

  <div><input type="submit" value="Submit"></div>

</form>

<div th:if="${errorMessage}">
  <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
