<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>All Lessons</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h2>Lessons</h2>

<div>
  <a th:href="@{/lesson/add}">New Lesson</a>
</div>

<div class="flex-list-container">
  <div th:each="subject : ${subjects}">
    <button>
      <a th:text="'Show only ' + ${subject.name().toLowerCase()}"
         th:href="@{?(subjectFilter=${subject.name()})}"
      ></a>
    </button>
  </div>
</div>
<div class="flex-list-container">
  <div th:each="lesson : ${lessons}" class="flex-list-item">
    <div th:text="${lesson.getStartTime() + ' - ' + lesson.getEndTime()}"></div>
    <div th:if="(${lesson.teacher} != null)" th:text="${lesson.getTeacher().getLastName()}"></div>
    <div>
      <button>
        <a th:href="@{/lesson/{id}(id=${lesson.getId()})}">EDIT</a>
      </button>
      <button>
        <a th:href="@{/lesson/delete/{id}(id=${lesson.getId()})}">Delete</a>
      </button>
    </div>
  </div>
</div>

<div th:if="${successMessage}">
  <br/>
  <div th:text="${successMessage}"></div>
</div>

<div th:if="${errorMessage}">
  <br/>
  <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
