<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h2>Edit Timetable</h2>

<form action="#" th:action="@{/timetable/{id}(id=${timetable.getId()})}" th:object="${timetable}" method="post">
    <div>
        <label>Assigned to group</label>
        <select name="assignedToSchoolGroup" id="assignedToSchoolGroup">
            <option selected
                    th:text="*{assignedSchoolGroup.getName()}"
                    th:value="*{assignedSchoolGroup.getId()}"
            />
            <option
                    th:each="group : ${schoolGroups}"
                    th:value="${group.getId()}"
                    th:text="${group.getName()}"
            >
            </option>
        </select>
    </div>
    <div>
        <label>Lessons</label>
        <select name="lessons" id="lessons" multiple="multiple">
            <option
                    th:each="lesson : ${lessons}"
                    th:value="${{lesson}}"
                    th:text="${lesson.getTeacher().getSpeciality()} + ' ' + ${lesson.getStartTime()} + ' ' + ${lesson.getEndTime()}"
                    th:selected="${#lists.contains(timetable.lessons, lesson)}"
            >
            </option>
        </select>
    </div>

    <div><input type="submit" value="Submit"></div>

    <a th:href="@{/timetable/{id}/lessons(id=${timetable.getId()})}">Show all lessons</a>
</form>

<div th:if="${errorMessage}">
    <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
