<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Add timetable</title>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h2>Add timetable</h2>

<form action="#" th:action="@{/timetable}" th:object="${timetable}" method="post">

  <select name="assignedToSchoolGroup" id="assignedToSchoolGroup">
    <option
            th:each="group : ${schoolGroups}"
            th:value="${group.getId()}"
            th:text="${group.getName()}"
            th:selected="*{assignedSchoolGroup} != null and (${group.getName()} == *{assignedSchoolGroup.getName()})"
    >
    </option>
  </select>

  <select name="lessons" id="lessons" multiple="multiple">
    <option
            th:each="lesson : ${lessons}"
            th:value="${lesson.getId()}"
            th:text="${lesson.getTeacher().getSpeciality()} + ' ' + ${lesson.getStartTime()} + ' ' + ${lesson.getEndTime()}"
            th:selected="${#lists.contains(timetable.lessons, lesson)}"
    >
    </option>
  </select>

  <div><input type="submit" value="Submit"></div>

</form>

<div th:if="${errorMessage}">
  <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
