<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>All timetables</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h2>Timetables</h2>

<div>
  <a th:href="@{/timetable/add}">New Timetable</a>
</div>
<div class="flex-list-container">
  <div th:each="timetable : ${timetables}" class="flex-list-item">
    <div th:text="${timetable.getAssignedSchoolGroup().getName()}"></div>
    <div>
      <button>
        <a th:href="@{/timetable/{id}/lessons(id=${timetable.getId()})}">Show Timetable</a>
      </button>
    </div>
    <div>
      <button>
        <a th:href="@{/timetable/{id}(id=${timetable.getId()})}">EDIT</a>
      </button>
      <button>
        <a th:href="@{/timetable/delete/{id}(id=${timetable.getId()})}">Delete</a>
      </button>
    </div>
  </div>
</div>

<div th:if="${successMessage}">
  <br/>
  <div th:text="${successMessage}"></div>
</div>

<div th:if="${errorMessage}">
  <br/>
  <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
