<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>NavigationBar</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div id="navbar-animmenu" th:fragment="navbar">
  <ul class="show-dropdown main-navbar">
    <li><a class="nav-link" th:href="@{/student}">Student List</a></li>
    <li><a class="nav-link" th:href="@{/schoolGroup}">School Groups</a></li>
    <li><a class="nav-link" th:href="@{/timetable}">Timetables</a></li>
    <li><a class="nav-link" th:href="@{/lesson}">Lessons</a></li>
    <li><a class="nav-link" th:href="@{/teacher}">Teachers</a></li>
  </ul>
</div>

</body>
</html>