<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>School group</title>
</head>
<body>

<h2>Edit school group</h2>

<form action="#" th:action="@{/schoolGroup/{id}(id=${schoolGroup.getId()})}" th:object="${schoolGroup}" method="post">

    <div><input type="text" th:field="*{name}"></div>
    <div>
        <ul class="flex-box">
            <li
                    th:each="student : *{students}"
                    th:text="${student.getFirstName()} + ' ' + ${student.getLastName()}"
            >
            </li>
        </ul>
    </div>
    <div><input type="submit" value="Submit"></div>

</form>

<div th:if="${errorMessage}">
    <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
