<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Add Teacher</title>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h2>Add Teacher</h2>

<form action="#" th:action="@{/templates/teacher}" th:object="${teacher}" method="post">

  <div><input type="text" th:field="*{firstName}"></div>
  <div><input type="text" th:field="*{lastName}"></div>

  <div><input type="submit" value="Submit"></div>

</form>

<div th:if="${errorMessage}">
  <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
