<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Add Teacher</title>
  <link th:href="@{/../static/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h2>Add Teacher</h2>

<form action="#" th:action="@{/teacher}" th:object="${teacher}" method="post">

  <div>
    <label>First name</label>
    <input type="text" th:field="*{firstName}"></div>
  <div>
    <label>Last name</label>
    <input type="text" th:field="*{lastName}">
  </div>
  <div>
    <label>Specialty</label>
    <select name="speciality" id="speciality">
      <option th:each="speciality : ${specialities}"
              th:value="${speciality}"
              th:text="${speciality}"
      >
      </option>
    </select>
  </div>


  <div><input type="submit" value="Submit"></div>

</form>

<div th:if="${errorMessage}">
  <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
