<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>All students</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h2>All students</h2>

<div>
    <a th:href="@{/student/add}">New student</a>
</div>
<div class="flex-list-container">
    <div th:each="student : ${students}" class="flex-list-item">
        <div th:text="${student.firstName + ' ' + student.lastName}"></div>
        <div th:text="${student.getSchoolGroup().getName()}"></div>
        <div>
            <button>
                <a th:href="@{/student/{id}(id=${student.getId()})}">EDIT</a>
            </button>
            <button>
                <a th:href="@{/student/delete/{id}(id=${student.getId()})}">Delete</a>
            </button>
        </div>
    </div>
</div>

<div th:if="${successMessage}">
    <br/>
    <div th:text="${successMessage}"></div>
</div>

<div th:if="${errorMessage}">
    <br/>
    <div th:text="${errorMessage}"></div>
</div>

</body>
</html>
